.container {
    margin: inherit !important;
}

@media (max-width: 600px) {
    .hero_vector {
        background-image: linear-gradient(to top, #2a63bc, #010f66);
        padding: 40px 10px 0px 10px;
    }
    .hero_text {
        padding-top: 100px;
    }

    .hero_img{
        width: 335px;
    }

    .issues {
        border: solid 0 #000000;
        padding: 10px;
    }

    .github_arrow_col{
        display: none;
    }

    .github_issue_box {
        height: 130px;
        margin: 13px;
        float: left;
        padding-top: 15px;
        width: 100%;
      }

      .github_issue_title {
        font-family: Roboto;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
    
      .github_issue_subtitle {
        width: 100%;
        height: 19px;
        font-size: 12px;
        margin-left: 11px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }    

      .podcast_widget{
        width: 100%;
        height: 120px;
        padding: 5px
    }

    .article_box {
        margin: 15px;
        float: left;
    }

    .article_thumbnail{
        width: 100%;
        padding: 10px;
      }

    .canal_iframe {
        width: 300px; 
    }

    .footer {
        background-color: #222222;
      }
}

@media (min-width: 601px) {
    .hero_vector {
        background-image: url('./site_hero_blue.png');
        height: 687px;
        width: 1440px;
        padding: 40px 10px 40px 10px;
    }

    .hero_text {
        padding-top: 150px;
    }

    .hero_img{
        display: none;
    }

    .navbar-nav{
        padding-left: 400px !important;
    }

    .issues {
        width: 1440px;
        border: solid 0 #000000;
        padding: 40px 10px 40px 80px;
    }

    .github_issue_box {
        width: 600px;
        height: 120px;
        margin: 13px;
        float: left;
        padding-top: 15px;
      }
    
      .github_issue_title {
        font-family: Roboto;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 20px;
      }
    
      .github_issue_subtitle {
        width: 283.5px;
        height: 19px;
        margin-left: 11px;
      }

      .podcast_widget {
        width: 1024px;
        margin-bottom:20px;
        height: 160px;
      }

      .base-artigo {
        width: 1440px;
      }

      .article_box {
        margin: 38px 38px 0px 38px;
        float: left;
    }

    .article_title {
        width: 283.5px;
      }

    .article_thumbnail{
        width: 370px;
        height: 175px;  
    }

    .canal_iframe {
        width: 560px; 
        height: 315px;
    }
    
    .footer {
        width: 1440px;
        background-color: #222222;
      }    

}

.nav-link, .nav-link a, .nav-link a:hover, .nav-link a:visited {
    color: whitesmoke !important;
}

.nav-link a:hover {
    color: whitesmoke !important;
    text-decoration: underline !important;
}




  /* HERO */

.hero_vector {
    border: solid 0 #000000;
}


.hero_text {
    font-family: Roboto;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;  
}
.hero_title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900; 
}


/*  ISSUES  */


.section_title {
    width: 1440px;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
}

.github_issue_box {
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ebebeb;
    background-color: #ffffff;
  }

  .github_issue_title {
    font-family: Roboto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
  }

  .github_issue_subtitle {
    height: 19px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5c5c;
  }

  .issues_link a, .issues a:hover, .issues a:visited {
      text-decoration: none;
  }

  .github_arrow_col{
    padding-top: 18px;
    padding-left: 0px !important;
  }

  .vermais_link, .vermais_link a, .vermais_link a:hover, .vermais_link:visited  {
    width: 64px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed5d3a;
  }

  /*  ARTICLES */

  .base-artigo {
    background-color: #f3f4f5 !important;
    margin-top: 30px;
  }

  .article_author {
    font-family: Roboto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    width: 128px;
    height: 28px;
    background-color: #222222; 
    margin: 0px 10px 15px 0px;
    padding: 2px;
 
  }

  .article_title {
    font-family: Roboto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222222;
    padding: 10px 10px 10px 0px;
  }

.footer_icons {
    font-size: 40px;
    color: #ebebeb;
    padding: 10px;
}